{% load static %}
{% load i18n %}
{% load l10n %}

<!DOCTYPE html>
<html>
    <head>
        <title>Django user login test</title>
    </head>

    <body>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="body-wrap">
            {% block content %}
            {% endblock %}
        </div>

    </body>

</html>