{% extends 'registration/base.html' %}
{% load i18n %}
{% load l10n %}
{% load static %}
{% block content %}

    <div class="login">
        <h2>{% trans 'Iniciar sesión' %}</h2>
        <form method="post">
            {% csrf_token %}
            <p>
                <label for="id_username">{% trans 'Email' %}</label> <input type="text" name="username" autofocus="" required="" id="id_username" maxlength="254">
            </p>
            <p>
                <label for="id_password">{% trans 'Contraseña' %}</label> <input type="password" name="password" required="" id="id_password">
            </p>
            <button>{% trans "Acceder" %}</button>
            <a href="{% url 'password_reset' %}">{% trans "Contraseña olvidada" %}</a>
            <a href="{% url 'signup' %}">{% trans "Registro" %}</a>
        </form>
    </div>

{% endblock %}