{% extends 'registration/base.html' %}
{% load i18n %}
{% load l10n %}
{% load static %}
{% block content %}

    <div class="login">
        {% if validlink %}
            <h2>{% trans 'Cambiar contraseña' %}</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>{% trans 'Cambiar contraseña' %}</button>
            </form>
        {% else %}
            <h2>{% trans 'Código incorrecto' %}</h2>
            <p>{% trans 'El código proporcionado es incorrecto, posiblemente porque ya haya sido usado' %}.</p>
            <p>{% trans 'Vuelve a solicitar el restablecimiento de contraseña' %}.</p>
        {% endif %}
    </div>

{% endblock %}